@import url('https://fonts.googleapis.com/css2?family=Figtree');

html {
  background-color: #244259;
  max-height: 100vh;
  max-width: 100vw;
}

body {
  font-family: 'Figtree', sans-serif;
  max-height: 100vh;
  max-width: 100vw;
  font-weight: 100;
  font-size: small;
}

footer {
  width: 100%;
  padding: 15px;
  color: white !important;
}

.navbar {
  position: fixed;
  width: 100vw;
  opacity: .97;
  background-color: #244259;
}

.nav-link {
  color: #bccdda;
  padding: 8px 15px !important;
}

.nav-link:hover {
  color: #aabbc9af;
}

.navbar-toggler {
  border: 1px solid #bccdda1c;
  color: #bccdda !important;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: transparent !important;
  box-shadow: none;
}

.logo {
  padding: 12px 10px 10px 10px;
  margin-left: 5px;
  color:#bccdda;
  text-decoration: none;
}

.logo:hover {
  cursor: pointer;
  color: #aabbc9af;
  text-decoration: none;
}

.logo-name {
  padding-left: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  right: 15px;
  position: absolute;
  z-index: 1000;
}

/* Track */
::-webkit-scrollbar-track {
  border: solid 3px transparent;
  position: absolute;
  z-index: 1000;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #bccdda45; 
  border-radius: 3px;
  border: solid 3px transparent;
  position: absolute;
  z-index: 1000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aabbc9af; 
}

.btn {
  font-size: small;
  background-color: transparent;
  border: 1px solid #bccdda1c;
  color: #bccdda;
}

.btn:focus {
  background-color: transparent;
  border: 1px solid #bccdda1c;
  color: #bccdda;
}

.btn:hover {
  background-color: #182a36;
  border: 1px solid #182a36;
  color: #bccdda;
}

.container {
  background-color: #244259;
  color: #bccdda;
  min-width: 100vw !important;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  position: absolute;
  z-index: -1;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: clip;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.section {
  margin: 75px 20%;
}